<strong>Olá, {{deliveryman}}</strong>
<p>O produto {{ product }} está disponível para retirada.</p>
<p>
  <strong>Destinatário: {{ recipient }}</strong><br>
  <strong>Endereço: {{ street }}, {{ number }} - {{ city }} {{ state }}</strong><br>
  <strong>Zip Code: {{ zip_code }}</strong><br>
  <strong>Complemento: {{ complement }}</strong><br>
</p>